body {
    background-color: black;
    margin: 0;
}

.full-text {
    background-color: rgb(255, 255, 255);
    padding: 5px 30px 30px 30px;
    max-width: 80vw;
}


 @font-face {
     font-family: "Kabeljauw Text Medium";
     font-style: normal;
     src: url(/fonts/KabeljauwText-Medium.woff) format("woff");
}

/* HEADER */
header {
    height: 180px
}

#home {
    font-size: 27px;
    color: rgb(255, 0, 208);
    z-index: 105;
    text-decoration: none;
    line-height: 21px;
    padding: 0 5px 0 5px;
    line-height: 3px;
    
}

#home:hover {
    color: rgb(0, 255, 255);
}


.menu {
    display: flex;
    flex-direction: row;
    width: 92vw;
    justify-content: space-between;
    padding: 30px 15px 0 15px;
}


.menu-item a {
    z-index: 105;
    text-align: center;
    text-decoration: none;
    font-family: 'Kanalisirung';
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(192, 191, 191);
    padding: 10px 10px 2px 10px;
    margin-top: 7px;
    border-bottom: 3px inset rgba(0,0,0,.5);
	border-left: 3px inset rgba(0,0,0,.5);
	border-right: 3px inset rgba(255,255,255,.5);
	border-top: 3px inset rgba(255,255,255,.5);
    box-shadow: 0px 0px 30px 10px rgb(255, 252, 98);
    -webkit-box-shadow: 0px 0px 30px 10px rgb(255, 252, 98);
    -moz-box-shadow: 0px 0px 100px 10px rgb(255, 252, 98);
}


.menu-item a:hover {
    color: aqua;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(106,255,144,1) 0%, rgba(255,0,0,1) 100%);
}

.img-item {
    display: flex;
    flex-direction: column;
    height: 30px;
    visibility: hidden;
}

img.intro {
    position: absolute;
    left: 15px;
    top: 80px;
    width: 90px;
    height: 90px;
}

p {
    font-family: "Kabeljauw Text Medium";
}

li {
    font-family: "Kabeljauw Text Medium";
}

@media screen and (min-width: 850px){

    header {
        display: flex;
        flex-direction: row;
        height: 213px;
    }  

    .menu {
        justify-content: right;
        padding: 30px;
        max-width: 400px;
        justify-content: space-between;
    }

    .menu-item img {
        visibility: visible;
        margin-top: 15px;
        height: 110px;
        width: auto;
    }

    .intro {
        width: 40vw;
    }

 
}
