body {
    background-color: black;
    margin: 0;
}




 @font-face {
     font-family: "Kabeljauw Text Medium";
     font-style: normal;
     src: url(/fonts/KabeljauwText-Medium.woff) format("woff");
}

/* HEADER */
header {
    height: 180px
}

#home {
    font-size: 27px;
    color: rgb(255, 0, 208);
    z-index: 105;
    text-decoration: none;
    line-height: 21px;
    padding: 0 5px 0 5px;
    line-height: 3px;
    
}

#home:hover {
    color: rgb(0, 255, 255);
}


.menu {
    display: flex;
    flex-direction: row;
    width: 92vw;
    justify-content: space-between;
    padding: 30px 15px 0 15px;
}


.menu-item a {
    z-index: 105;
    text-align: center;
    text-decoration: none;
    font-family: 'Kanalisirung';
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(192, 191, 191);
    padding: 10px 10px 2px 10px;
    margin-top: 7px;
    border-bottom: 3px inset rgba(0,0,0,.5);
	border-left: 3px inset rgba(0,0,0,.5);
	border-right: 3px inset rgba(255,255,255,.5);
	border-top: 3px inset rgba(255,255,255,.5);
    box-shadow: 0px 0px 30px 10px rgb(255, 252, 98);
    -webkit-box-shadow: 0px 0px 30px 10px rgb(255, 252, 98);
    -moz-box-shadow: 0px 0px 100px 10px rgb(255, 252, 98);
}


.menu-item a:hover {
    color: aqua;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(106,255,144,1) 0%, rgba(255,0,0,1) 100%);
}

.img-item {
    display: flex;
    flex-direction: column;
    height: 30px;
    visibility: hidden;
}

img.intro {
    position: absolute;
    left: 15px;
    top: 80px;
    width: 90px;
    height: 90px;
}

/* TEXT */
img.varken {
    width: 117px;
    padding: 15px 0 0 120px;
}

.text-wrap {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.full-text {
    margin: 0 30px 30px 50px;
}

.title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
}

.text {
    margin: 5px 0 25px 0;
}


p {
    font-family: "Kabeljauw Text Medium";
    font-size: 17px;
    line-height: 24px;
}

li {
    font-family: "Kabeljauw Text Medium";
    font-size: 17px;
    list-style-type: upper-roman;
    margin-bottom: 10px;
}

ul {
    margin: 5px 0 25px 0;
    list-style-type: upper-roman;
}

@media screen and (min-width: 850px){

    /* HEADER */
    .menu {
        padding: 30px 30px 0 30px;
        max-width: 400px;
        justify-content: space-between;
    }

    .img {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        justify-content: space-between;
        padding: 20px 0 0 55px;
    }

    .img-item img{
        visibility: visible;
        height: 110px;
        width: auto;
        padding: 0 30px 0 30px;
        
    }

    img.intro {
       position: absolute;
       right: 15px;
       top: 15px;
       left: 79vw;
       width: 185px;
       height: auto;
    }

    /* TEXT */
    .text-wrap {
        margin: 25px 15vw 100px 15vw;
        max-width: 650px;

        
    }

 
}
