body {
    background-color: black;
    margin: 0;
}

@font-face {
    font-family: 'MatrixRegular';
    src: url(/fonts/MatrixRegular.otf);
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.list img {
    max-width: 50vw;
}

.title {
    color: rgb(255, 0, 0);
    font-family: 'MatrixRegular';
    font-size: 50px;
    text-align: center;
}

.artist {
    max-width: 50vw;
}

p {
    color: white;
    max-width: 50vw;
}

a {
    color: rgb(174, 0, 255);
    max-width: 50vw;
}


