body {
    background-color: black;
    margin: 0;
}

@font-face {
    font-family: 'MatrixRegular';
    src: url(/fonts/MatrixRegular.otf);
}

/* in general */
img {
    width: 33.33vw;
}

/* header */
.home {
    color: rgb(255, 0, 208);
}

/* years */
.year {
    color: rgb(255, 0, 0);
    padding: 15px;
}

/* 2017 */
.wrap_2017 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2017{
    background-color: aqua;
}

.artist_2017:hover {
    background-color: rgb(255, 255, 255);
}

a {
    font-family: 'MatrixRegular';
    font-size: 25px;
    padding: 10px;
    color: rgb(255, 0, 0);
    top: 0%;
    left: 0%;
    transform: rotate(-45deg);
    max-width: 100px;
    line-height: 30px;
    word-break: break-all;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline 3px solid rgb(99, 9, 255);
}


/* 2018 */
.wrap_2018 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2018{
    background-color: rgb(255, 0, 242);
    position: relative;
}


/* 2019 */
.wrap_2019 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2019{
    background-color: rgb(47, 255, 0);
    position: relative;
}


/* 2020 */
.wrap_2020 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);   
}

.artist_2020{
    background-color: rgb(255, 183, 0);
    position: relative;
}


/* 2021 */
.wrap_2021 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2021{
    background-color: rgb(4, 0, 255);
    position: relative;
}


/* 2022 */
.wrap_2022 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2022{
    background-color: rgb(255, 98, 0);
    position: relative;
}




/* desktop */

