body {
    background-color: black;
    margin: 0;
}

@font-face {
    font-family: 'MatrixRegular';
    src: url(/fonts/MatrixRegular.otf);
}

@font-face {
    font-family: 'Kanaliserung';
    src: url(/fonts/Kanalisirung.otf);
}

/* in general */
img {
    width: 33.33vw;
}

/* header */
.home {
    color: rgb(255, 0, 208);
}

/* general */
.year {
    font-family: 'Kanaliserung';
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 25px;
}

.artist_2017:hover {
    background-color: rgb(255, 255, 255);
}

.artist_2018:hover {
    background-color: rgb(255, 0, 0);
}

.artist_2019:hover {
    background-color: rgb(255, 251, 149);
}

.artist_2020:hover {
    background-color: rgb(112, 184, 255);
}

.artist_2021:hover {
    background-color: rgb(143, 134, 0);
}

.artist_2022:hover {
    background-color: rgb(236, 159, 236);
}

a.name {
    font-family: 'MatrixRegular';
    font-size: 22px;
    padding: 6px 0 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
}

img {
    padding-top: 25px;
}

/* 2017 */
.wrap_2017 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2017{
    background-color: aqua;
    position: relative;
}


/* 2018 */
.wrap_2018 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2018{
    background-color: rgb(255, 0, 242);
}


/* 2019 */
.wrap_2019 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2019{
    background-color: rgb(47, 255, 0);
}


/* 2020 */
.wrap_2020 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);   
}

.artist_2020{
    background-color: rgb(255, 183, 0);
}


/* 2021 */
.wrap_2021 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2021{
    background-color: rgb(4, 0, 255);
}


/* 2022 */
.wrap_2022 {
    margin-bottom: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.artist_2022{
    background-color: rgb(255, 98, 0);
}




/* desktop */
@media screen and (min-width: 700px) {
img {
    width: 10vw;
}

.wrap_2017 {
width: 40vw;
margin-bottom: 10vh;
display: grid;
grid-template-columns: repeat(4, 25%);
padding: 0 0 0 20vw;
}

.wrap_2018 {
width: 40vw;
margin-bottom: 10vh;
display: grid;
grid-template-columns: repeat(5, 25%);
padding: 0 0 0 10vw;
}

.wrap_2019 {
    width: 40vw;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 25%);
    padding: 0 0 0 30vw;
}

.wrap_2020 {
    width: 40vw;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 25%);
    padding: 0 0 0 10vw;
}

.wrap_2021 {
    width: 40vw;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(7, 25%);
    padding: 0 0 0 10vw;
}

.wrap_2022 {
    width: 40vw;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 0 0 0 50vw;
}


    
  }
