* {
    box-sizing: border-box;
}

body {
    display: block;
    text-align: center;
    background-color: rgb(121, 0, 235);
    margin: 0;
}

p {
    margin: 0;
}

img {
    padding: 0;
}


/* HEADER */
header {
    padding: 50px;
}


/* !!!HOME-PAGE-LAYERS!!! */
/* FEEST */
.feest-wrap {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

img.feest {
    width: 50vw;
    margin-bottom: 70vh;
}

/* STICKER */
.sticker-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 2;
}

img.sticker-group1 {
    width: 35vw;
    margin: 100vh 0 0 20vw;
    top: 0;
}

img.sticker-group2 {
    width: 25vw;
    margin: 100vh 0 0 20vw;
}

img.sticker-group3 {
    width: 15vw;
    margin: 100vh 0 0 70vw;
}

/* AFFICHES */
.affiche-wrap {
    position: absolute;
    top: 0;
    display: grid;
    /* grid-template-columns: 1fr; */
    z-index: 0;   
}

img.affiche {
    width: 10px;
}





