* {
    box-sizing: border-box;
}

body {
    display: block;
    text-align: center;
    background-color: rgb(121, 0, 235);
    margin: 0;
}

p {
    margin: 0;
}

img {
    padding: 0;
}


/* HEADER */
header {
    padding: 50px;
}


/* !!!HOME-PAGE-LAYERS!!! */
/* FEEST */
.feest-wrap {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

img.feest {
    width: 50vw;
    margin-bottom: 70vh;
}

/* STICKER */
.sticker-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 2;
}

img.sticker-group1 {
    width: 35vw;
    margin: 100vh 0 0 20vw;
    top: 0;
}

img.sticker-group2 {
    width: 25vw;
    margin: 100vh 0 0 20vw;
}

img.sticker-group3 {
    width: 15vw;
    margin: 100vh 0 0 70vw;
}

/* AFFICHES */
.affiche-wrap {
    position: absolute;
    top: 0;
    z-index: 0;   
}

img.affiche-group1 {
    width: 10vw;
    margin: 20vh 0 0 70vw;
}

img.affiche-group2 {
    width: 40vw;
    margin: 60vh 0 0 0;
}

img.affiche-group3 {
    width: 60vw;
    margin: 100vh 0 0 10vw;
}

/* BUTTONS */
.buttons {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    top: 200px;
    padding-left: 40vw;
}

a.buttons {
    text-align: center;
    display: block;
    margin: 0 auto;
}

a.about {
    font-size: 100px;
    color: aqua;
    margin-bottom: 120vh;
}

a.list {
    font-size: 100px;
    color: rgb(230, 0, 255);
    margin-bottom: 120vh;
    background-color: aliceblue;
    height: fit-content;
    padding: 0;
    border-radius: 45%;
    box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
}

a.list:hover {

    color: rgb(0, 255, 102);

}





