body {
    margin: 0cm;
    background-color: blue;
}

@font-face {
    font-family: 'MatrixRegular';
    src: url(/fonts/MatrixRegular.otf);
}

p {
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.intro img{
    max-width: 50vw;
}

.intro p {
    padding-left: 50vw;
    font-style: italic;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a{
    text-decoration: none;
    font-family: 'MatrixRegular';
    font-size: 30px;
    line-height: 50px;
    background-color: white;
    color: red;
    border-radius: 50px;
    padding: 7px;
}

.menu a:hover {
    color: aqua;
    background-color: blue;
}


/* BUTTONS */
.buttons {
    width: 100vw;
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 10000px;
}

.buttons a{
    text-decoration: none;
    font-family: 'MatrixRegular';
    font-size: 30px;
    line-height: 50px;
    background-color: white;
    color: red;
    border-radius: 50%;
    padding: 7px;
    margin: 0 auto 0 auto;
}

.buttons a:hover {
    color: aqua;
    background-color: blue;
    cursor: pointer;
}


/* BACKGROUND */
.background-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: -99;
    padding-top: 30vh;
}

.background-grid img {
    width: 50vw;
}

/* UITZONDERINGEN */

.top {
    padding-top: 500px;
}


.right {
    padding-left: 50vw;
}

/* LAYERS */

/** HAND **/
.layer__hand {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 10600px;
    padding: 25px;
}

.layer__hand img {
    max-width: 20%;
}

/** CUT **/
.layer__cut {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 10600px;
}

.layer__cut img{
    max-width: 100%;
}

/** GIF **/
.layer__gif {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    height: 10600px;
}

.layer__gif img{
    max-width: 50%;
}

/** STICKER **/
.layer__sticker {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50px;
    height: 10600px;
}

.layer__sticker img{
    max-width: 45%;
}

@media screen and (min-width: 700px) {
    .background-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .background-grid img {
        width: 100%;
    }
  }

@media screen and (min-width: 900px) {
  .background-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
  }

  .background-grid img {
    width: 100%;
}
}


